body {
    background: #000000;
}

#gameWrap {
    position: absolute;
    width: 1280px;
    height: 720px;
    background: #000000;
    left: 50%;
    top: 50%;
    margin-left: calc(1280px/-2);
    margin-top: calc(720px/-2);
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
}

#mainCanvas {
    
}

#buttons {
    position: absolute;
    width: 1280px;
    left: 50%;
    top: 50%;
    margin-left: calc(1280px/-2);
    margin-top: calc(720px/2);
    text-align: center;
    padding: 5px 0;
    
}

#debugInfo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.debug {
    color: white;
    position: relative;
    z-index: 999;
    font-family: monospace;
    line-height: 0;
}

.fillParent {
    height: 100%;
    width: 100%;
    position: absolute;
}

#dotMatrix, #dotMatrixRed, #dotMatrixBlue {
    background-image: url(../img/dots.png);
    background-size: 700px;
}

#dotMatrix {
    opacity: 0.7;
}

#dotMatrixRed {
    transform: scale(0.8);
    opacity: 0.2;
    filter: hue-rotate(-40deg);
}

#dotMatrixBlue {
    transform: scale(0.9);
    opacity: 0.4;
    filter: hue-rotate(100deg);
}